**Forest Cover Type Prediction - preprocessing the data**

In [1]:
# importing the required packages

import numpy as np
import pandas as pd
import os

path = os.getcwd()   # current working directory
current_folder = "data"
print(os.getcwd())
for dirname, _, filenames in os.walk(os.path.join(path,current_folder)):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction
C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction\data\new_test_data.csv
C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction\data\new_train_data.csv
C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction\data\sampleSubmission.csv
C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction\data\test.csv
C:\Users\Asus\Desktop\Coding-Projects\Forest_cover_type_prediction\data\train.csv

In [2]:
# Loading training data
train_data = pd.read_csv(os.path.join(path,"data/train.csv"))
train_data.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [3]:
train_data.info()     # there are no missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 56 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id                                  15120 non-null  int64
 1   Elevation                           15120 non-null  int64
 2   Aspect                              15120 non-null  int64
 3   Slope                               15120 non-null  int64
 4   Horizontal_Distance_To_Hydrology    15120 non-null  int64
 5   Vertical_Distance_To_Hydrology      15120 non-null  int64
 6   Horizontal_Distance_To_Roadways     15120 non-null  int64
 7   Hillshade_9am                       15120 non-null  int64
 8   Hillshade_Noon                      15120 non-null  int64
 9   Hillshade_3pm                       15120 non-null  int64
 10  Horizontal_Distance_To_Fire_Points  15120 non-null  int64
 11  Wilderness_Area1                    15120 non-null  int64
 12  Wilderness_Area2                    15120 non-null  int64
 13  Wilderness_Area3                    15120 non-null  int64
 14  Wilderness_Area4                    15120 non-null  int64
 15  Soil_Type1                          15120 non-null  int64
 16  Soil_Type2                          15120 non-null  int64
 17  Soil_Type3                          15120 non-null  int64
 18  Soil_Type4                          15120 non-null  int64
 19  Soil_Type5                          15120 non-null  int64
 20  Soil_Type6                          15120 non-null  int64
 21  Soil_Type7                          15120 non-null  int64
 22  Soil_Type8                          15120 non-null  int64
 23  Soil_Type9                          15120 non-null  int64
 24  Soil_Type10                         15120 non-null  int64
 25  Soil_Type11                         15120 non-null  int64
 26  Soil_Type12                         15120 non-null  int64
 27  Soil_Type13                         15120 non-null  int64
 28  Soil_Type14                         15120 non-null  int64
 29  Soil_Type15                         15120 non-null  int64
 30  Soil_Type16                         15120 non-null  int64
 31  Soil_Type17                         15120 non-null  int64
 32  Soil_Type18                         15120 non-null  int64
 33  Soil_Type19                         15120 non-null  int64
 34  Soil_Type20                         15120 non-null  int64
 35  Soil_Type21                         15120 non-null  int64
 36  Soil_Type22                         15120 non-null  int64
 37  Soil_Type23                         15120 non-null  int64
 38  Soil_Type24                         15120 non-null  int64
 39  Soil_Type25                         15120 non-null  int64
 40  Soil_Type26                         15120 non-null  int64
 41  Soil_Type27                         15120 non-null  int64
 42  Soil_Type28                         15120 non-null  int64
 43  Soil_Type29                         15120 non-null  int64
 44  Soil_Type30                         15120 non-null  int64
 45  Soil_Type31                         15120 non-null  int64
 46  Soil_Type32                         15120 non-null  int64
 47  Soil_Type33                         15120 non-null  int64
 48  Soil_Type34                         15120 non-null  int64
 49  Soil_Type35                         15120 non-null  int64
 50  Soil_Type36                         15120 non-null  int64
 51  Soil_Type37                         15120 non-null  int64
 52  Soil_Type38                         15120 non-null  int64
 53  Soil_Type39                         15120 non-null  int64
 54  Soil_Type40                         15120 non-null  int64
 55  Cover_Type                          15120 non-null  int64
dtypes: int64(56)
memory usage: 6.5 MB

In [4]:
train_data.describe()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
count,15120.00000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,...,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000
mean,7560.50000,2749.322553,156.676653,16.501587,227.195701,51.076521,1714.023214,212.704299,218.965608,135.091997,...,0.045635,0.040741,0.001455,0.006746,0.000661,0.002249,0.048148,0.043452,0.030357,4.000000
std,4364.91237,417.678187,110.085801,8.453927,210.075296,61.239406,1325.066358,30.561287,22.801966,45.895189,...,0.208699,0.197696,0.038118,0.081859,0.025710,0.047368,0.214086,0.203880,0.171574,2.000066
min,1.00000,1863.000000,0.000000,0.000000,0.000000,-146.000000,0.000000,0.000000,99.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3780.75000,2376.000000,65.000000,10.000000,67.000000,5.000000,764.000000,196.000000,207.000000,106.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,7560.50000,2752.000000,126.000000,15.000000,180.000000,32.000000,1316.000000,220.000000,223.000000,138.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,11340.25000,3104.000000,261.000000,22.000000,330.000000,79.000000,2270.000000,235.000000,235.000000,167.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000
max,15120.00000,3849.000000,360.000000,52.000000,1343.000000,554.000000,6890.000000,254.000000,254.000000,248.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [5]:
# Combine the columns Wilderness_Area1, ..., Wilderness_Area4 to a single column, because the values are mutually exclusive
# Do the same for the columns Soil_Type1, ..., Soil_Type 40
N = len(train_data)

arr = ["Soil_Type"+str(i) for i in range(1,41)]  # all the columns in Soil_Type
#print(arr)

arr1 = ["Wilderness_Area"+str(j) for j in range(1,5)]  # all the columns in Wilderness_Area
#print(arr1)

soil_type = [0]*N   # create a new array with Soil_Type as a number 

# Soil_Type1 to 40
for j in range(N):  # total amount of training data
    for i in range(40):  # number of soil_type classes
        if train_data[arr[i]][j] == 1:   # if there is a 1 in a column between Soil_Type1 and Soil_Type40
            soil_type[j] = i+1             # add the corresponding number to the new array
#print("New column for Soil_Type1 to 40:", soil_type)

# do the same for Wilderness_Area1 to 4
wilderness_area = [0]*N

for j in range(N):
    for i in range(4):
        if train_data[arr1[i]][j] == 1:
            wilderness_area[j] = i+1
#print("New column for Wilderness_Area1 to 4:", wilderness_area)

In [6]:
# Loading testing data
test_data = pd.read_csv(os.path.join(path,"data/test.csv"))
test_data.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test_data.describe()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
count,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,...,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000,565892.000000
mean,298066.500000,2964.977407,155.629558,14.039635,270.556622,46.294408,2367.143116,212.131133,223.435026,142.726951,...,0.044768,0.091588,0.078704,0.002808,0.003161,0.000193,0.000467,0.026233,0.023236,0.014651
std,163359.093603,273.157030,111.962120,7.450155,212.500153,58.209469,1561.482002,26.661063,19.668053,38.030094,...,0.206795,0.288444,0.269277,0.052916,0.056137,0.013877,0.021594,0.159827,0.150652,0.120152
min,15121.000000,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,156593.750000,2818.000000,58.000000,9.000000,108.000000,7.000000,1116.000000,198.000000,213.000000,119.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,298066.500000,2999.000000,127.000000,13.000000,228.000000,29.000000,2018.000000,218.000000,226.000000,143.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,439539.250000,3164.000000,260.000000,18.000000,390.000000,69.000000,3349.000000,231.000000,237.000000,168.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,581012.000000,3858.000000,360.000000,66.000000,1397.000000,601.000000,7117.000000,254.000000,254.000000,254.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# do the same for the test data

n = len(test_data)
print(n)
arr_ = ["Soil_Type"+str(i) for i in range(1,41)]  # all the columns in Soil_Type
arr1_ = ["Wilderness_Area"+str(j) for j in range(1,5)]  # all the columns in Wilderness_Area

soiltype = [0]*n   # create a new array with Soil_Type as a number 

# Soil_Type1 to 40
for j in range(n):  # total amount of testing data
    for i in range(40):  # number of soil_type classes
        if test_data[arr_[i]][j] == 1:   # if there is a 1 in a column between Soil_Type1 and Soil_Type40
            soiltype[j] = i+1             # add the corresponding number to the new array
#print("New column for Soil_Type1 to 40:", soiltype)

# do the same for Wilderness_Area1 to 4
wildernessarea = [0]*n

for j in range(n):
    for i in range(4):
        if test_data[arr1_[i]][j] == 1:
            wildernessarea[j] = i+1
#print("New column for Wilderness_Area1 to 4:", wildernessarea)

565892

In [9]:
# export the new columns to a new file for the training data
output = pd.DataFrame({"Id": train_data.Id, "Elevation": train_data.Elevation, 
                       "Aspect": train_data.Aspect, "Slope": train_data.Slope, 
                       "Horizontal_Distance_To_Hydrology": train_data.Horizontal_Distance_To_Hydrology, 
                       "Vertical_Distance_To_Hydrology": train_data.Vertical_Distance_To_Hydrology, 
                       "Horizontal_Distance_To_Roadways": train_data.Horizontal_Distance_To_Roadways, 
                       "Hillshade_9am": train_data.Hillshade_9am, "Hillshade_Noon": train_data.Hillshade_Noon, 
                       "Hillshade_3pm": train_data.Hillshade_3pm, 
                       "Horizontal_Distance_To_Fire_Points": train_data.Horizontal_Distance_To_Fire_Points,
                       "Wilderness_Area": wilderness_area, "Soil_Type": soil_type, "Cover_Type": train_data.Cover_Type})
output.to_csv('data/new_train_data.csv', index=False)

In [10]:
# export the new columns to a new file for the testing data
output = pd.DataFrame({"Id": test_data.Id, "Elevation": test_data.Elevation, 
                       "Aspect": test_data.Aspect, "Slope": test_data.Slope, 
                       "Horizontal_Distance_To_Hydrology": test_data.Horizontal_Distance_To_Hydrology, 
                       "Vertical_Distance_To_Hydrology": test_data.Vertical_Distance_To_Hydrology, 
                       "Horizontal_Distance_To_Roadways": test_data.Horizontal_Distance_To_Roadways, 
                       "Hillshade_9am": test_data.Hillshade_9am, "Hillshade_Noon": test_data.Hillshade_Noon, 
                       "Hillshade_3pm": test_data.Hillshade_3pm, 
                       "Horizontal_Distance_To_Fire_Points": test_data.Horizontal_Distance_To_Fire_Points,
                       "Wilderness_Area": wildernessarea, "Soil_Type": soiltype})
output.to_csv('data/new_test_data.csv', index=False)

In [11]:
# Loading the new training and testing data
new_train_data = pd.read_csv(os.path.join(path,"data/new_train_data.csv"))
new_train_data.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area,Soil_Type,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,6279,1,29,5
1,2,2590,56,2,212,-6,390,220,235,151,6225,1,29,5
2,3,2804,139,9,268,65,3180,234,238,135,6121,1,12,2
3,4,2785,155,18,242,118,3090,238,238,122,6211,1,30,2
4,5,2595,45,2,153,-1,391,220,234,150,6172,1,29,5

In [12]:
new_test_data = pd.read_csv(os.path.join(path,"data/new_test_data.csv"))
new_test_data.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area,Soil_Type
0,15121,2680,354,14,0,0,2684,196,214,156,6645,1,29
1,15122,2683,0,13,0,0,2654,201,216,152,6675,1,29
2,15123,2713,16,15,0,0,2980,206,208,137,6344,1,29
3,15124,2709,24,17,0,0,2950,208,201,125,6374,1,29
4,15125,2706,29,19,0,0,2920,210,195,115,6404,1,29